*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 10px;
}
.headerflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.navlink{
    color: #957554;
    font-family: 'Ubuntu' , sans-serif; 
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.navlink:hover {
    color: black;
}
.navigation {
    display: flex;
    gap: 50px;
}

/* first section */
.firstsection{
    background-image: url(./style/hDbCjHNdF48.png);
    height: 100vh;  
    background-repeat: no-repeat; 
    background-size: cover;
    justify-content: center;
    margin-bottom: 80px;
}
.firstsectioncontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
}

.maintitle{
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
}

.description , 
.button {
    color: #FFF;
    font-family: 'Ubuntu' , sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button{
    text-decoration: none;
    background-color: #DFAA5B;
    padding: 25px 133px;
    border-radius: 10px;
}
.buttonbuttonsmall{
    text-decoration: none;
    background-color: #DFAA5B;
    padding: 25px 133px;
    border-radius: 10px;
}

/* cards */

.secondtitle{
    text-align: center;
    color: #957554;
    font-family: 'Ubuntu' , sans-serif;
    font-size: 45px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 47px;
}

.card {
     width: 630px;
     height: 500px;
     border-radius: 10px;
     overflow: hidden;
     position: relative;
}
.card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardcontent{
    position: absolute;
    bottom: 57px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    width: 100%;
}
.cardtitle{
    color: #FFF;
    font-family: 'Ubuntu' , sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.button.buttonsmall {
    padding: 24px 52px 24px 56px;
}

.overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 7.48%, #000 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.roomsgallery{
    display: flex;
    flex-wrap: wrap;
    gap: 59px 60px;
    margin-bottom: 55px;
}
/* title 3 */

.thirdtitle{
    margin-bottom: 122px;
}
.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer */

footer{
    background: #111;
    padding: 51px 0 159px;
}
.footercontent{
    display: flex;
    justify-content: space-between;
}

.footernavigation{
    display: flex;
    flex-direction: column;
  
}
.footerlink{
    text-decoration: none;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px;
}
.footerlink:hover,
.footertext a:hover {
    color: #dfaa5b;
}


.footerparagraph{
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}


.linktext{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    
}
.footertext{
    text-decoration: none;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.footercontent img{
    width: 154px;
    height: 126px;
    object-fit: cover;
}

/* news cards */
.newscard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.newscard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    grid-auto-rows: 500px;
    margin-bottom: 50px;
}
 
.newscardcontent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 44px;
}

.newscardcontent h3 {
    color: #957554;
}

.newscardcontent p {
    color: #000;
}


.newscard:nth-child(2n+1) img {
    order: 1;
}

.newscard:nth-child(2n+1) .newscardcontent {
    align-items: end;
  
}

.newscard:nth-child(2n+1) .newscardcontent {
    text-align: right;
}


.newscard:last-child {
    margin-bottom: 107px;
}

/* gallery grid */

.gallerygrid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2, 500px);
    gap: 30px;
    margin-bottom: 104px;
}
.gallerygrid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s;
    overflow: hidden;
}
.gallerygrid img:first-child {
    grid-area: 1/1/2/4;
}
.gallerygrid img:nth-child(2) {
    grid-area: 1/4/2/6;
}
.gallerygrid img:nth-child(3) {
    grid-area: 2/1/3/3;
}
.gallerygrid img:nth-child(4) {
    grid-area: 2/3/3/6;
}
.gallerygrid img:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 767px){
    .container {
        max-width: 767px;
        height: auto;
        margin: 0 auto;
        padding: 0 10px;
    }

    .headerflex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        gap: 10px;
    }

    .navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;   
        gap: 5px;   
    }


    .navlink{
        color: #957554;
        font-family: 'Ubuntu' , sans-serif; 
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        text-decoration: none;
    }

    .firstsection{
        background-image: url(./style/hDbCjHNdF48.png);
        height: 100vh;  
        background-repeat: no-repeat; 
        background-size: cover;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        max-width: 767px;
        width: 100%;
    }

    .firstsectioncontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        gap: 50px;
    }

    .maintitle{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #FFF;
    }

    .description , 
    .button {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: #FFF;
        font-family: 'Ubuntu' , sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .secondtitle{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        text-align: center;
        color: #957554;
        font-family: 'Ubuntu' , sans-serif;
        font-size: 35px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 47px;
    }

    .roomsgallery{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 767px;
        width: 100%;
        height: auto;
        margin-bottom: 55px;
    }

    .card {
        max-width: 767px;
        width: 100%;
        height: 500px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
   }
    .cardcontent{
        position: absolute;
        bottom: 57px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 19px;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .cardtitle{
        display: flex;
        width: auto;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #FFF;
        font-family: 'Ubuntu' , sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .thirdtitle{
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 122px;
    }

    .section3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .footercontent{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        gap: 90px;
    }

    .footernavigation{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footerlink{
        display: flex;
        width: auto;
        height: auto;
        flex-wrap: wrap;
        text-decoration: none;
        color: #FFF;
        font-family: Ubuntu;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 15px;
    }

    .footertext a{
        display: flex;
        width: auto;
        height: auto;
        flex-wrap: wrap;
        text-decoration: none;
        color: #FFF;
        font-family: Ubuntu;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .footerparagraph{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        color: #FFF;
        font-family: Ubuntu;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    
    }

    .linktext{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        width: auto;
        height: auto;
        flex-wrap: wrap;        
    }

    .newscard{
        display: flex;
        flex-direction: row;
        max-width: 767px;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .newscard img{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        width: auto;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
    .newscardcontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 44px;
    }

    .cardtitle{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-family: 'Ubuntu' , sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }


    .newscard:nth-child(2n+1) img {
        order: 0;
    }
    
    .newscard:nth-child(2n+1) .newscardcontent {
        align-items: center;
      
    }
    
    .newscard:nth-child(2n+1) .newscardcontent {
        text-align: center;
    }
    
    
    .newscard:last-child {
        margin-bottom: 107px;
    }

    .gallerygrid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        gap: 30px;
        margin-bottom: 104px;
    }

    .gallerygrid img {
        max-width: 500px;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        transition: all 0.3s;
        overflow: hidden;
    }

    .gallerygrid img:hover {
        transform: scale(1.2);
    }
}
