*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerwrapper {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 5px 110px;
    background-color: #000;
}
.imglogo{
    width: auto;
    height: 100px;
}

.linkscontainer{
    display: flex;
    flex-direction: row;
    width: hug(653px)px;
    height: 28px;
    gap: 50px;
    align-items: center;
}
.linkswrapper{
    text-decoration: none;
}
.headerlink {
    font-family: 'roboto slab', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
    background: linear-gradient(60deg, #8b663c, #ecdf90, #8b663c); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    /* text-shadow: 0 4px 8px rgba(0, 0, 0, 0.452); */
}
.ChangeLanguage{
    display: flex;
    width: 40px;
    height: auto;
}
.chlimg {
    width: 100%;
    height: auto;
}



@media screen and (max-width: 767px) {
    .headerwrapper {
        display: flex;
        max-width: 767px;
        width: 100%;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .header{
        max-width: 767px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .linkscontainer{
        display: flex;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .headerlink {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'roboto slab', sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        background: linear-gradient(60deg, #8b663c, #ecdf90, #8b663c); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;    /* text-shadow: 0 4px 8px rgba(0, 0, 0, 0.452); */
    }

    
}